# Configurações do Site
title: PO.B.R.E
email: your-email@example.com
description: >- # Colocar a descrição nas linhas abaixo
  Portal Brasileiro de Romhacking e Emulação
#baseurl: "https://hansbonini.com.br/pobre-v2"
#url: "https://hansbonini.com.br/pobre-v2"
baseurl: ""
url: ""

# Coleções
collections_dir: collections
collections:
  noticias:
    permalink: "/:collection/:slug/"
    output: true
  traducoes:
    permalink: "/:collection/:path/"
    output: true
  romhacks:
    permalink: "/:collection/:path/"
    output: true

# Escopo
defaults:
  - scope:
      type: "traducoes"
    values:
      layout: "traducoes"
  - scope:
      type: "romhacks"
    values:
      layout: "romhacks"
  - scope:
      type: "noticias"
    values:
      layout: "noticias"

# Configurações de Build
markdown: kramdown
sass:
  style: :compressed
plugins:
  - jekyll-feed

# Ignora os arquivos do sistema
exclude:
- Gemfile
- Gemfile.lock
- README.md
- LICENSE.txt
- CNAME
