<div class="col-xs-12 col-md-2">

  <!-- Espaçamento -->
  <span class="d-block mt-5"></span>

  <!-- Traduções Recentes -->
  <div class="card mt-1 mb-1">
    <div class="card-body">
      This is some text within a card body.
    </div>
  </div>

  <!-- Hacks Recentes -->
  <div class="card mt-1 mb-1">
    <div class="card-body">
      This is some text within a card body.
    </div>
  </div>

  <!-- Utilitários Recentes -->
  <div class="card mt-1 mb-1">
    <div class="card-body">
      This is some text within a card body.
    </div>
  </div>

</div>