<div class="col-xs-12 col-md-3">

  <!-- Traduções Recentes -->
  <div class="card mt-4 mb-2">
    <div class="card-img-group-top container">
      <div class="row">
        {% assign traducoes = site.traducoes | sort: "date" %}
        {% for traducao in traducoes reversed limit:4 %}
        {% for image in traducao.patch_images limit:1 %}
        <div class="col-6">
          <a href="{{ traducao.url | prepend: site.baseurl }}" alt="{{ traducao.title }}">
            <img src="{{ image }}" class="d-block w-100" alt="{{ traducao.title }}"></img>
          </a>
        </div>
        {% endfor %}
        {% endfor %}
      </div>
    </div>
    <div class="card-header">
      <ul>
        {% assign traducoes = site.traducoes | sort: "date" %}
        {% for traducao in traducoes reversed limit:4 %}
        <li>
          <a href="{{ traducao.url | prepend: site.baseurl }}" alt="{{ traducao.title }}">
            {{ traducao.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Traduções Recentes</h5>
    </div>
  </div>

  <!-- Hacks Recentes -->
  <div class="card mb-2">
    <div class="card-img-group-top container">
      <div class="row">
        {% assign romhacks = site.romhacks | sort: "date" %}
        {% for romhack in romhacks limit:4 %}
        {% for image in romhack.patch_images limit:1 %}
        <div class="col-6">
          <a href="{{ romhack.url | prepend: site.baseurl }}" alt="{{ romhack.title }}">
            <img src="{{ image }}" class="d-block w-100" alt="{{ romhack.title }}"></img>
          </a>
        </div>
        {% endfor %}
        {% endfor %}
      </div>
    </div>
    <div class="card-header">
      <ul>
        {% assign romhacks = site.romhacks | sort: "date" %}
        {% for romhack in romhacks limit:4 %}
        <li>
          <a href="{{ romhack.url | prepend: site.baseurl }}" alt="{{ romhack.title }}">
            {{ romhack.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Romhacks Recentes</h5>
    </div>
  </div>

  <!-- Tutoriais Recentes -->
  <div class="card mb-2">
    <div class="card-header">
      <ul>
        {% assign tutoriais = site.tutoriais | sort: "date" %}
        {% for tutorial in tutoriais limit:4 %}
        <li>
          <a href="{{ tutorial.url | prepend: site.baseurl }}" alt="{{ tutorial.title }}">
            {{ tutorial.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Tutoriais Recentes</h5>
    </div>
  </div>

</div>