.mt-100 {
  margin-top: 100px;
}
.mb-10 {
  margin-bottom: 10px;
}

.break-all {
  word-break: break-all;
}

.bg-gray {
  background-color: #6c757d;
}

.fa-pobre {
  text-align: center;
  width: 1em;
  background-image: url(../gif/puce.gif);
  background-color: transparent;
  height: 1em;
}

.menu-lateral {
  min-width: 12rem;
  width: 12rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.menu-lateral ul.nav li.nav-item a{
  padding: 4px 1rem;
}

.conteudo-principal {
  width: calc(100% - 12rem);
  margin-left: 12rem;
  transition: all 0.4s;
}

#sidebar.active {
  margin-left: -12rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -12rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 12rem;
    width: 100%;
  }
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: url('../gif/block.gif')
}

.scroll-top {
  display: none;
  position: fixed;
  z-index: 9995;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

@media (min-width: 576px) {
  .scroll-top {
      bottom: 2.5rem;
      right: 2.5rem;
  }
}

.scroll-top > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: 1.125rem;
}

th[scope=row] {
  width: 150px;
}

.card-img-group-top {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  margin: 10px 0 0;
}
.card-img-group-top .row {
  padding: 0;
  margin: 0;
}
.card-img-group-top .row .col-6 {
  padding: 0;
  margin: 0;
}
.tt-menu {
  position: fixed!important;
  top: 60px!important;
  left: 0px!important;
  z-index: 100!important;
  background: rgba(240, 240, 240, 0.8);
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 5rem 0px;
}
.tt-dataset.tt-dataset-pesquisa {
  border-top: 1px solid #ccc;
}
.tt-suggestion.tt-selectable {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.tt-suggestion.tt-selectable:hover {
  background-color:rgba(0,0,0,.03)!important;
  color: #1d2124!important;
}