---
layout: page
---
{% assign sistema = site.sistemas | where: "title", page.title %}
{% if sistema.first %}
<div class="card pt-4 mb-2">
  {% if sistema.first.featured %}
  <img class="card-img-top"  src="{{ sistema.first..featured | prepend: site.baseurl }}" alt="Imagem em destaque de {{ sistema.first.title }}" />
  {% endif %}
  <div class="card-body">
    <p class="card-text">{{ sistema.first.content }}</p>
  </div>
</div>
{% endif %}

<ul id="{{ page.url | slugify }}" class="list-group">
  {% assign emulators = site.emuladores | where:"system", page.title %}
  {% for emulator in emulators %}
    <li id="{{ emulator.url | slugify }}" class="list-group-item">
      <a href="{{ emulator.url | prepend: site.baseurl }}" alt="{{ emulator.title }}">
        {{ emulator.title }}
      </a>
    </li>
  {% endfor %}
</ul>
