---
layout: compress
---
<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="http://schema.org/Webpage">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <head>

    <!-- SEO -->

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous" />
    <link rel="stylesheet"
      href="{{ '/assets/css/main.css' | prepend: site.baseurl }}" />

    <!-- Fontes -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto"
      rel="stylesheet" />
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous">
    <link href='https://cdn.jsdelivr.net/devicons/1.8.0/css/devicons.min.css'
      rel='stylesheet' />

  </head>



  <body>
    <!-- Suporte de Browser -->
    <!--[if IE]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Scroll Top -->
    <div class="scroll-top">
      <a href="#">
        <i class="fas fa-angle-up"></i>
      </a>
    </div>

    <!-- Menu Superior -->
    <div id="menu-superior">

      <div class="container-fluid">
        <div class="row">
          <div class="col-12 px-0 bg-success">

            <!-- Links Rápidos -->
            <ul id ="menu-superior" class="nav mr-auto">
              {% assign menu_superior = site.data.menus.superior | sort: 'order' %}
              {% for item in menu_superior %}
              <li id="menu-superior-{{ item.title | slugify }}" class="nav-item">
                <a class="nav-link text-white" href="{{ item.url }}" title="Ir para {{ item.title }}">{{ item.title }}</a>
              </li>
              {% endfor %}
            </ul>

          </div>
        </div>

        <div class="row">
          <div class="col-12 px-0">

            <div class="container-fluid">
              <div class="row">
                <div class="col-12 px-0">

                  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                    <!-- Botão Mobile - Exibir Menu -->
                    <div class="exibir-menu">
                      <button type="button" role="button" class="btn btn-secondary" data-toggle="collapse" href="#menu-principal">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                    </div>

                    <!-- Logomarca -->
                    <a class="navbar-brand ml-4 mr-auto" href="#">
                      <img src="{{ '/assets/svg/logo.svg' | prepend: site.baseurl }}" width="200" height="35" class="d-inline-block align-top" alt="">
                    </a>

                    <!-- Collapse -->
                    <div class="collapse navbar-collapse" id="navegacao">
                      <form class="form-inline my-2 my-lg-0 ml-auto">
                        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                      </form>
                    </div>
                  </nav>

                </div>
              </div>

              <div class="row">
                <div class="col-12 px-0">
                  <div id="menu-principal" class="bg-dark collapse">
                    <!-- Dropdown menu links -->
                    {% include menu-principal.html %}
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <!-- Apresentação -->
    <header id="apresentacao">
      <div class="container-fluid">
        <div class="row mt-2">

          <div class="col-6">
            {% assign destaques = site.noticias | sort: 'date' | where_exp: "item" , "item.featured == true" %}
            <div class="card bg-dark text-white">
              <img class="card-img" src="{{ destaques[0].thumbnail }}" alt="Card image">
              <div class="card-img-overlay">
                <h5 class="card-title">{{ destaques[0].title }}</h5>
                <p class="card-text">{{ destaques[0].excerpt | strip_html }}</p>
                <p class="card-text">{{ destaques[0].date | date: "%d/%m/%Y às %H:%M:%S"}}</p>
              </div>
            </div>
          </div>

          <div class="col-6">

            <div class="d-flex align-content-between flex-wrap h-100">
              <div class="row h-100" style="max-height: 48%">
                <div class="col-12">
                  <div class="card h-100 bg-dark text-white" style="background-image: url('{{ destaques[0].thumbnail }}'); background-size: cover; background-position: center center;">
                    <div class="card-body">
                      <h5 class="card-title">{{ destaques[1].title }}</h5>
                      <p class="card-text">{{ destaques[1].excerpt | strip_html }}</p>
                      <p class="card-text">{{ destaques[1].date | date: "%d/%m/%Y às %H:%M:%S"}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row h-100 mt-auto" style="max-height: 48%">
                <div class="col-12">
                  <div class="card h-100 bg-dark text-white" style="background-image: url('{{ destaques[0].thumbnail }}; background-size: cover; background-position: center center;')">
                    <div class="card-body">
                      <h5 class="card-title">{{ destaques[1].title }}</h5>
                      <p class="card-text">{{ destaques[1].excerpt | strip_html }}</p>
                      <p class="card-text">{{ destaques[1].date | date: "%d/%m/%Y às %H:%M:%S"}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </header>

     <!-- Conteudo do Site -->
     <main>

       <div class="container-fluid">
         <div class="row mt-5">
            <div class="col-8">
              {{ content }}
            </div>
            <div class="col-4">
            </div>
         </div>
       </div>

     </main>

    <!-- JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14/dist/smooth-scroll.polyfills.min.js"></script>
    <script
      src="{{ '/assets/js/main.js' | prepend: site.baseurl }}" type="text/javascript">
    </script>

    <!-- Analytics -->
    {% if jekyll.environment == 'production' and site.google_analytics_key != '' %}
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '{{ site.google_analytics_key }}', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
  {% endif %}



  </body>
</html>
