---
layout: default
---
<div class="col-xs-12 col-md-9">
  
  <!-- Título da Página -->
  <div class="row">
    <div class="col-12">
      <h2 class="text-center text-dark pt-4">{{ page.title }}</h2>
    </div>
  </div>

  <!-- Separador da Página -->
  <div class="row">
    <div class="col-12">
      <hr />
    </div>
  </div>

  <div class="card mb-1">
    <div class="card-header text-center">
      <small>Enviado em {{ page.date | date: "%d/%m/%Y" }} às {{ page.date | date: "%H:%M" }} por {{ page.author }}</small>
    </div>
    <div class="card-body">
      <div class="container">

        <!-- Conteúdo da Notícia -->
        <div class="row">
          <div class="col-12">
            <p>{{ page.content | strip_html }}</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  
</div>
