---
layout: page
---
<!-- Listagem de Notícias -->
<ul id="{{ page.url | slugify }}" class="list-group">
  {% assign noticias = site.noticias %}
  {% for noticia in noticias reversed %}
  <!-- Noticia: {{ noticia.title }}-->
  <li id="{{ noticia.url | slugify }}" class="list-group-item mb-2">
    <div class="card mb-1">
      <div class="card-header text-center">
        <!-- Titulo da Notícia -->
        <h4><a href="{{ noticia.url | prepend: site.baseurl }}" alt="{{ noticia.title }}">{{ noticia.title }}</a></h4>
        <small>Enviado em {{ noticia.date | date: "%d/%m/%Y" }} às {{ noticia.date | date: "%H:%M" }} por
          {{ noticia.author }}</small>
      </div>
      <div class="card-body">
        <div class="container">

          <!-- Conteúdo da Notícia -->
          <div class="row">
            <div class="col-12">
              <p>{{ noticia.content }}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6 text-center"><a href="{{ noticia.url | prepend: site.baseurl }}"
            alt="{{ noticia.title }}">Link para a Notícia</a></div>
        <div class="col-6 text-center"><span class="disqus-comment-count" data-disqus-url="{{ noticia.url | prepend: site.baseurl }}">Comentários</span></div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>