---
layout: default
---
<div class="col-xs-12 col-md-9">
  
  <!-- Título da Página -->
  <div class="row">
    <div class="col-12">
      <h1 class="h2 text-center text-dark pt-4">
        {% if page.layout == "traducoes-plataforma" or page.layout == "traducoes-sistema" %}
          Traduções de 
        {% endif %}
        {% if page.layout == "romhacks-plataforma" or page.layout == "romhacks-sistema"  %}
          Romhacks de 
        {% endif %}
        {{ page.title }}
      </h1>
    </div>
  </div>

  <!-- Separador da Página -->
  <div class="row">
    <div class="col-12">
      <hr />
    </div>
  </div>

  <!-- Conteúdo da Página -->
  <div class="row">
    <div class="col-12">
      {{ content }}
    </div>
  </div>

</div>
