---
layout: page
---
{% if content.size > 5 %}
<div class="card mb-10">
  {% if page.featured %}
  <img class="card-img-top"  src="{{ page.featured | prepend: site.baseurl }}" alt="Imagem em destaque de {{ page.title }}" />
  {% endif %}
  <div class="card-body">
    <p class="card-text">{{ content }}</p>
  </div>
</div>
{% endif %}

<ul id="{{ page.url | slugify }}" class="list-group">
  {% assign romhacks = site.romhacks | where:"system", page.title %}
  {% for hack in romhacks %}
    <li id="{{ hack.url | slugify }}" class="list-group-item">
      <a href="{{ hack.url | prepend: site.baseurl }}" alt="{{ hack.title }}">
        {{ hack.title }}
      </a>
    </li>
  {% endfor %}
</ul>
