---
layout: page
---
{% assign sistema = site.sistemas | where: "title", page.title %}
{% if sistema.first %}
{{ sistema.first.content }}
{% endif %}

<ul id="{{ page.url | slugify }}" class="list-group">
  {% assign traducoes = site.traducoes | where:"system", page.title %}
  {% for traducao in traducoes %}
    <li id="{{ traducao.url | slugify }}" class="list-group-item">
      <a href="{{ traducao.url | prepend: site.baseurl }}" alt="{{ traducao.title }}">
        {{ traducao.title }}
      </a>
    </li>
  {% endfor %}
</ul>
