---
layout: page
---

<ul id="{{ page.url | slugify }}" class="list-group">
{% assign categorias = site.pages | where_exp: "item" , "item.path contains page.permalink" | uniq %}
{% for categoria in categorias %}
  {% assign level = categoria.dir | split: "/" | size %}
  {% if level == 4 %}
  <li id="{{ categoria.url | slugify }}" class="list-group-item">
    <a href="{{ categoria.url | prepend: site.baseurl }}">{{ categoria.title }}</a>
    {% assign contador = site.tutoriais | where_exp:"item", "item.path contains page.permalink" | uniq | size %}
    <span class="badge badge-success">{{ contador }}</span>
  </li>
  {% endif %}
{% endfor %}
</ul>